body {

    columns: #333333;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 650px;
    /* 0 implies top  and bottom, auto will evenly distrubute space on the left and the right */
    margin: 0 auto;
    /* 0 means im not trying to add any space above or below , the 16px we are putting size between our body content */
    padding: 0 16px;

    display: flex;
    flex-direction: column;

    /* we want to set up the height of the body to take up the entire browerser height */
    min-height:100vh;
}



footer {
    
    color:yellowgreen;
    border-top: 1px solid lightslategray;
    margin-top:16px;
    padding:16px 0;
}


header {
    margin-top:16px;
    margin-bottom:48px;
}

h1 {

    font-size:23px;
    margin-bottom:10px;
}

header a {

    columns: #888888;
    margin-right:16px;
    text-decoration:none;
}



.portrait {
    width:250px;
}


    /* flex grow allow a given element to grow and tak up as much space it needs */
/* which means the main content should take up all left over space */
    


.footer-container {

    min-height:100vh;
    display: flex;
    align-items: flex-end;
}